.card-title {
  padding-left: 1rem;
}

.card-body {
  padding: 1rem;
}

body {
  padding: 1rem;
}

.container {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.info {
  display: flex;
  justify-content: space-around;
}

.my-team {
  font-size: 4rem;
  padding: 2rem;
}
